.seats-wrapper {
    padding: 20px;
    text-align: center;
  }
  
  .seats-wrapper h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .seats-grid {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    gap: 30px;
    justify-items: center;
    justify-content: center;
  }
  
  
  .seat {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin-top: 5px;
  }
  
  .seat::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  
  .seat.available {
    background-color: #4caf50;
    border-color: #388e3c;
  }
  
  .seat.unavailable {
    background-color: #f44336;
    border-color: #d32f2f;
  }
  
  .seat.selected {
    background-color: #ffa726;
    border-color: #fb8c00;
  }
  
  .seat:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .seat.available:hover {
    background-color: #388e3c;
  }
  
  .seat.unavailable:hover {
    background-color: #d32f2f;
  }
  
  .selected-seats {
    margin-top: 20px;
  }
  
  .selected-seat {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  