################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FederataFutbollit/FileContentIndex
/.vs/FederataFutbollit/v17
.FederataFutbollit/appsettings.json
.bin/
.obj/

.vscode/
.vs/
.vs
*.vspscc

  
  