/* Importimi i fontit Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Cart.css */

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, rgba(33, 33, 33, 1) 0%, rgba(63, 81, 181, 1) 100%);
  margin: 0;
  padding: 0;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.0); /* Fully transparent background */
}

.cart {
  width: 100%;
  max-width: 800px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.084); /* Semi-transparent background */
  padding: 20px;
}

.cart h2 {
  color: #ffffff; /* Change to white for better contrast */
  font-size: 2.5em;
  font-weight: 700;
}

.cart-items {
  width: 100%;
}

.cart-item {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(90, 75, 75, 0.662); /* Slightly transparent background */
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.item-name {
  color: #ffffff; /* Change to white for better contrast */
  font-size: 1.2em;
  font-weight: 700;
}

.item-date {
  color: #dddddd; /* Lighter gray for better visibility */
  font-size: 1em;
}

.item-price {
  color: #ffffff; /* Change to white for better contrast */
  font-size: 1.2em;
}

.remove-button {
  margin-top: 10px;
}

.cart-actions {
  width: 100%;
}

.continue-button, .checkout-button {
  padding: 10px 20px;
  color: #ffffff; /* Change to white for better contrast */
  background-color: #41b53fba; /* Use a color that stands out */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
h3 {
    margin-top: 0;
    font-size: 1.75rem;
    color: #ffffff;
}

.continue-button:hover, .checkout-button:hover {
  background-color: #2a5298; /* Darker shade for hover effect */
}

.timer {
    text-align: center;
    color: #ffffff; /* Change to white for better contrast */
    font-size: 8px;
    margin-bottom: 20px;
  }